.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    90deg,
    #4a9346 33.33%,
    white 33.33%,
    white 66.66%,
    #cf3737 66.66%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

.accessory {
  height: 6px;
  background-image: radial-gradient(
    closest-side,
    black,
    hsla(0, 0%, 50%, 0) 100%
  );
  position: relative;
  border-color: transparent;
  border: none;
}
.accessory::after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 4px 0;
  border: 4px solid black;
  background-clip: padding-box;
}

@media (max-width: 500px) {
  .Toastify__toast-container {
    margin-top: 12vh;
  }
}
